.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--white);
    font-family: "Dancing Script";
    padding: 20px;
}

.navbar > header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 50px;
}

.navbar > header > img {
    width: 50px;
}

.navbar .score-board {
    font-size: 30px;
}

.navbar > .score-board > .score, .high-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > .score-board > .score > :nth-child(2), .high-score > :nth-child(2) {
    min-width: 50px;
    text-align: end;
}